.requestItemContainer {
  margin: 10px 0;
  padding: 20px;
  font-family: "Lato";
  font-size: 12px;
}

.identifier {
  width: 60px;
  height: 60px;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  .requestItem {
    text-align: center;
  }
}
