.errorText {
  display: flex !important;
  color: #f5f5f5 !important;
  align-items: center !important;
  padding: 4px 0 !important;
}

.successSnack {
  background-color: #09d3ac !important;
  color: white !important;
  letter-spacing: 0.1em;
}

.errorSnack {
  background-color: #f44336 !important;
  color: white !important;
  letter-spacing: 0.1em;
}

.buttonGroup {
  margin-top: 40px !important;
}
