.formContainer {
  background-color: #3f8f74;
  padding: 100px 40px;
  box-shadow: 0 0 15px rgb(29, 29, 29);
  width: 70% !important;
}

.errorText {
  display: flex !important;
  color: #f5f5f5 !important;
  align-items: center !important;
  padding: 4px 0 !important;
}

.successSnack {
  background-color: #3f8f74 !important;
  color: white !important;
  letter-spacing: 0.1em;
}

.errorSnack {
  background-color: #f44336 !important;
  color: white !important;
  letter-spacing: 0.1em;
}

.buttonGroup {
  margin-top: 40px !important;
}
