.identicon {
  width: 90px !important;
  height: 90px !important;
  padding: 10px !important;
}

.identiconContainer {
  text-align: center;
}

.txnItem {
  padding: 20px !important;
  text-align: center;
  font-size: 12px;
  margin: 10px 0;
}

.successChip {
  background-color: #3f8f74 !important;
}

.error {
  background-color: #d52a1d !important;
}

.errorChip,
.successChip {
  letter-spacing: 0.03em !important;
  color: white !important;
  padding: 10px !important;
  font-size: 11px !important;
  margin: 20px 0 !important;
}
.errorChip {
  background-color: #d52a1d !important;
}

.errorIcon {
  color: white !important;
}

@media only screen and (orientation: landscape) {
  .identicon {
    width: 128px !important;
    height: 128px !important;
    padding: 10px !important;
  }

  .errorChip {
    margin-top: 20px !important;
    padding: 15px !important;
    font-size: 12px !important;
  }
  .txnItem {
    padding: 20px 20px 20px 40px !important;
    text-align: left;
    font-size: 12px;
  }
}
