.txnListContainer {
  padding: 20px !important;
  font-family: "Lato";
  color: white;
}

.filterDropDown {
  max-width: 200px;
}

.filterDropDownContainer {
  padding: 10px 0;
}

.txnListLoader {
  padding-top: 25vh;
  text-align: center;
}

.txnItemContainer {
  margin: 10px 0;
}
.filterChip {
  padding: 5px !important;
  margin: 5px !important;
  font-family: "Lato" !important;
  background-color: white !important;
}

@media only screen and (orientation: landscape) {
  .txnListContainer {
    padding: 100px !important;
    font-family: "Lato";
    color: white;
  }
}
